body {
  /* knobbackground: rgba(255, 255, 255, 0.99);
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.99) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 47%,
    rgba(194, 243, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(255, 255, 255, 0.99)),
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(47%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(194, 243, 255, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.99) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 47%,
    rgba(194, 243, 255, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.99) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 47%,
    rgba(194, 243, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.99) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 47%,
    rgba(194, 243, 255, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.99) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 47%,
    rgba(194, 243, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2f3ff', GradientType=1 );
  background-repeat: repeat-y; */
  background-image: url("cubes_@2X.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#slide {
  position: absolute;
  left: -5000px;
  top: 10rem;
  background: white;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards;
  animation-delay: 2s;
  border: 1px solid black;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  grid-template-areas:
    "head head head"
    "sideLeft main sideRight"
    "sideLeft footer sideRight";
}
.item-a {
  grid-area: main;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.borderSolid {
  border: 1px solid black;
}
